<h1 class="page-header">
  Menus
  <span class="pull-right">
    <a href="/cms/menus/new" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
      Add Menu
    </a>
  </span>
</h1>
<%= render 'layouts/cms/flashes' %>
<%= render 'form' %>
