-e git+https://github.com/3atmospheres/django-positions.git@b84dfa1cddae3f3e403c3136a363f4f7153e40a7#egg=django_positions-dev
-e git+https://github.com/arneb/django-messages.git@dfe84ca8e6907a70c685248fa3dd807f5c563e5b#egg=django_messages-dev
-e git+https://github.com/mliu7/django-minidetector.git@29dc8632525ef77999386bde7154a61762057c89#egg=minidetector-dev
BeautifulSoup==3.2.1
Django==1.4.8
Fabric==1.5.0
MySQL-python==1.2.5
--allow-external PIL==1.1.7
Pillow==2.3.0
PyYAML==3.10
Pygments==1.5
South==0.7.6
URLObject==2.1.0
Werkzeug==0.9.4
amqplib==1.0.2
anyjson==0.3.3
awscli
billiard==2.7.3.18
boto==2.6.0
bpython==0.12
celery==3.0.12
distribute==0.6.30
django-admin-tools==0.4.0
django-ajax-selects==1.2.5
django-appconf==0.6
--allow-external django-autocomplete==1.0.dev49
django-avatar==2.0
django-celery==3.0.11
django-compressor==1.2
django-debug-toolbar==0.9.4
django-devserver==0.4.0
django-extensions==1.0.1
django-haystack==2.1.0
django-honeypot==0.3.0
django-imagekit==2.0.2
django-mailchimp==0.1.30
django-memcache-status==1.1
django-memcached==0.1.2
django-mptt==0.5.5
django-nose==1.1
django-pagination==1.0.7
django-picklefield==0.2.1
django-pipeline==1.3.15
django-pure-pagination==0.2.1
django-registration==0.8
django-shell-plus==1.1.5
django-social-auth==0.7.28
django-sphinx==2.2.4
django-storages==1.1.8
djangorestframework==2.2.4
djrill==0.6.0
easy-thumbnails==1.1
--allow-external elementtree==1.2.7-20070827-preview
facebook-sdk==0.4.0
futures==2.1.4
fuzzywuzzy==0.1
gdata==2.0.17
gunicorn==0.15.0
guppy==0.1.10
httplib2==0.7.7
johnny-cache==1.4
kombu==2.4.8
lettuce-webdriver==0.2
lettuce==0.2.10
line-profiler==1.0b3
meld3==0.6.9
mock==1.0.1
newrelic==2.8.0.7
nose==1.2.1
oauth2==1.5.211
ordereddict==1.1
paramiko==1.9.0
pycrypto==2.6
pyparsing==1.5.6
pysolr==2.1.0-beta
python-dateutil==2.1
python-memcached==1.48
python-openid==2.2.5
python-twitter==0.8.2
pytz==2013.9
redis==2.7.1
requests==1.0.4
selenium==2.26.0
simplejson==2.6.2
six==1.2.0
sqlparse==0.1.5
sure==1.0.6
termcolor==1.0.1
twitter==1.9.4
vobject==0.8.1c
wsgiref==0.1.2
yanc==0.2.3
