<% content_for :title, "Edit a Location - Powered By Nooklyn" %>

<div class="super_container">
  <div class="container">
    <div class="narrow-form-container">
    <h1>Edit Location Category</h1>
    <%= render 'form' %>
    </div>
  </div>
</div>
