{% extends "invite/base.html" %}
{% load staticfiles %}

{% block invite %}
  {{ block.super }}
  <div id="panel">
    <div id="sidebar">
      {% include "invite/sidebar-menu.html" with gmail="active" %}
    </div>
  </div>
  <div id="invite-header">
    <h2>Invite your contacts from <span class="upper">gmail</span></h2>
  </div>
  <div id="invite-panel" class="from-select">
    <div class="inner-wrap multi-select-widget">
      <form action="{% url invite_from_gmail %}" method="post">{% csrf_token %}
        <div class="selection-menu selectable">
          Contacts (<span class="contacts-count">0</span>)
          <span id="select-all" class="bulk">Add all contacts</span>
        </div>
        <div class="selection-menu selected">
          Invitees (<span class="invitees-count">0</span>)
          <span id="deselect-all" class="bulk">Remove all contacts</span>
        </div>
        {% for field in form %}
        {{ field }}
        {% endfor %}
        <button type="submit" class="multi-select-widget" id="send-invite"></button>
      </form>
    </div>
  </div>
  {% endblock %}
  {% block js %}
    <script src="{% static 'js/jquery-1.8.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.multi-select.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/invite.js' %}" type="text/javascript"></script>
{% endblock %}
