<span class="pull-right">
  <button type="submit" value="save" id="save_button" name="submit" class="btn btn-success btn-sm">
    <!-- <span class="glyphicon glyphicon-save"></span> -->
    Save
  </button>
</span>