<h1 class="page-header">
  Don't Miss
  <span class="pull-right">
    <a href="/cms/announcements/new" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
      Add
    </a>
  </span>
</h1>
<%= render 'layouts/cms/flashes' %>
<%= render 'form' %>
