<% content_for :title, "New Deposit Transaction - Nooklyn: Apartments, Roommates, Neighborhoods" %>
<div class="super_container">
  <div class="container">
    <%= render 'matrix/listings/matrix_navigation' %>
    <div class="standard-page-header">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/2x/Registration.png', class: "img-responsive" %>
      <h1>New Deposit Transaction</h1>
    </div>
    <div class="narrow-form-container">
    <%= render 'form' %>
    </div>
  </div>
  <br>
</div>
