<title><%=h yield(:title) %></title>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-itunes-app" content="app-id=1024150110">
<meta name="description" content="<%=h yield(:description) %>">
<meta name="keywords" content="<%= yield(:keywords) || "brooklyn, rentals, roommates, lofts, apartments, real estate, bushwick, williamsburg, greenpoint, ridgewood, bed-stuy" %>">
