{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super }}
<link href="{% static 'css/registration.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
{{ block.super }}
<div id="account" class="registration-signup">
  <div id="sign-up-box">
    <h2>Login</h2>
    <form method="post" action="{% url auth_login %}">{% csrf_token %}
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p><br>
      {% endif %}
      <ul>
        {{ form.as_ul }}
        <li>
          <a href="{% url auth_password_reset %}">Forgot your password?</a> |
          <a href="{% url registration_register %}">Need an account?</a>
        </li>
      </ul>
      <input type="submit" class="button orange" value="Login" />
      <input type="hidden" name="next" value="{% if request.REQUEST.next %}{{ request.REQUEST.next }}{% else %}{% url homepage %}{% endif %}" />
      <ul>
    </form>
  </div>
</div>
{% endblock %}
