{% extends "registration/registration_base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}

{{ block.super }}

<div class="registration-forgot">
    <h2>Reset password</h2>
    <br><br>
    <p>Forgot your password?  Enter your email in the form below and we'll send you
    instructions for creating a new one.</p>
    <br>

    <form method="post" action=''>
        {% csrf_token %}
        <div class="reset-input">
            <label for="id_email">{{ form.email.label_tag }}</label>
            <input type="id_email" type="text" name="email"{% if form.email.value %} value="{{ form.email.value }}"{% endif %}>
              {% if form.email.errors %}
                <div class="errors">Either this account doesn't exist, or it is connected through Facebook or Twitter.</div>
              {% endif %}
        </div>
        <br>
        <input id="reset-button" type="submit" value="Reset password" />
    </form>
</div>

{% endblock %}
