<div class="roommate_card">
  <h2>We're Hiring!</h2>
  <div class="roommate_comment">
      <%= link_to jobs_path do %>
        <i class="nklyn-icon-message nklyn-2x"></i><h5>Apply Today</h5>
        <% end %>
  </div>
  <div class="clearfix"></div>
  <div class="roommate_image">
    <%= image_tag 'job-post.png', class: "img-responsive" %>
  </div>
  <p>
    We're looking to hire a Community Manager/Office Assistant to help us keep building and improving Nooklyn. <br><br>
    Your job will include being the lead on our Twitter and Snapchat accounts, improving our apartment listing descriptions, responding to customer support and bunch of similar types of tasks.<br><br>
    It'll be awesome.
    <br><br>
    <a href="mailto:moiz@nooklyn.com" class="read-more-link">To Apply, email me (Moiz) at moiz@nooklyn.com</a>
  </p>
  <div class="roommate_price">
    <h5>Hourly</h5>
    <h3>$15</h3>
  </div>
  <div class="roommate_move_in">
    <h5>Start</h5>
    <h3>ASAP</h3>
  </div>
  <div class="clearfix"></div>
  <div class="roommate_hood" id="mate_hood">
    <h4>Bushwick, Brooklyn, NY</h4>
  </div>
</div>
