<% content_for :title, "Create a Profile - Powered by Nooklyn" %>

<div class="mega-container">
  <br>
  <div class="container">
    <div class="rm_form_container">
      <div class="text-center">
        <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/CreateProfile.png', class: "img-responsive center-block" %>
        <h1 class="text-center">Mates</h1>
        <br>
        <a class="button btn-white btn-4x" data-toggle="modal" data-target="#rmModal">Posting Guidelines</a>
        <br>
      </div>
      <hr>
      <%= render 'form' %>
    </div>
  </div>
  <br>
</div>
<%= render 'roommates/posting_guidelines_modal' %>