<% content_for :title, "Apply for a Job - Nooklyn - Rental, Sales Lofts" %>
<div class="super_container">
  <br>
  <div class="narrow-page-container job-application-page">
    <h1 class="text-center">Apply for Nooklyn</h1>
    <hr>
    <%= render 'form' %>
  </div>
  <br>
</div>
