<div class="nklyn-icons-cheatsheet">
  <div class="nklyn-icons-header">
    <h3>Namespace</h3>
    <p>You can use an icon by using:</p>
    <pre>&lt;i class="nklyn-icon-logo nklyn-1x"&gt;&lt;/i&gt;</pre>
    <h3>Sizes</h3>
    <ul class="list-inline list-unstyled">
      <li><i class="nklyn-icon-logo nklyn-1x"></i></li>
      <li><i class="nklyn-icon-logo nklyn-2x"></i></li>
      <li><i class="nklyn-icon-logo nklyn-3x"></i></li>
      <li><i class="nklyn-icon-logo nklyn-4x"></i></li>
      <li><i class="nklyn-icon-logo nklyn-5x"></i></li>
      <li><i class="nklyn-icon-logo nklyn-6x"></i></li>
      <li><i class="nklyn-icon-logo nklyn-7x"></i></li>
    </ul>
    <p>There are icon size classes. The scale goes from 1x to 7x.</p>
    <pre>&lt;i class="nklyn-icon-favorite nklyn-1x"&gt;&lt;/i&gt;</pre>
    <hr>
    <h3>Colors</h3>
    <p>There are also icon color classes.</p>
    <ul class="list-inline list-unstyled">
      <li><i class="nklyn-icon-logo nklyn-5x nklyn-green"></i></li>
      <li><i class="nklyn-icon-logo nklyn-5x nklyn-blue"></i></li>
      <li><i class="nklyn-icon-logo nklyn-5x nklyn-purple"></i></li>
      <li><i class="nklyn-icon-logo nklyn-5x nklyn-red"></i></li>
      <li><i class="nklyn-icon-logo nklyn-5x nklyn-yellow"></i></li>
    </ul>
    <pre>&lt;i class="nklyn-icon-favorite nklyn-1x nklyn-green"&gt;&lt;/i&gt;</pre>
  </div>
  <hr>
  <h3>Standard</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-logo nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-logo</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-rocket nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-rocket</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-user nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-user</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-users nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-users</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-heart-fill nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-heart-fill</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-heart nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-heart</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-star-fill nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-star-fill</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-star nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-star</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-marker nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-marker</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-building nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-building</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-phone nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-phone</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-bike nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-bike</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-paperclip nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-paperclip</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-newspaper nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-newspaper</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-paper-plane nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-paper-plane</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-bus nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-bus</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-couch nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-couch</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-chair nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-chair</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-camera nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-camera</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-infinity nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-infinity</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-drinks nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-drinks</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-mug nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-mug</pre>
      <hr>
    </div>
  </div>
  <h3>Symbols</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-check-circle nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-check-circle</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-check nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-check</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-x-circle nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-x-circle</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-x nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-x</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-question-circle-fill nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-question-fill</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-question nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-question</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-dot-fill nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-dot-fill</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-dot nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-dot</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-fire nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-fire</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-cloud nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-cloud</pre>
      <hr>
    </div>
  </div>
  <h3>Messages</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-chat nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-chat</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-message nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-message</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-message-open nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-message-open</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-message-fill nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-message-fill</pre>
      <hr>
    </div>
  </div>
  <h3>Interface</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-key nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-key</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-lock nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-lock</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-globe nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-globe</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-gear nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-gear</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-clock nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-clock</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-calendar nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-calendar</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-grid nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-grid</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-bell nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-bell</pre>
      <hr>
    </div>
  </div>
  <h3>Money</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-money-coins nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-money-coins</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-money-card nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-money-card</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-money-bills nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-money-bills</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-money-bill nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-money-bill</pre>
      <hr>
    </div>
  </div>
  <h3>Pets</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-pet-dog-a nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-pet-dog-a</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-pet-dog-b nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-pet-dog-a</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-pet-dog-c nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-pet-dog-c</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-pet-cat-a nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-pet-cat-a</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-pet-cat-b nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-pet-cat-b</pre>
      <hr>
    </div>
  </div>
  <h3>Media</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-media-rewind nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-media-rewind</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-media-fast-forward nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-media-fast-forward</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-media-play nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-media-play</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-media-pause nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-media-pause</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-media-replay nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-media-replay</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-media-volume nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-media-volume</pre>
      <hr>
    </div>
  </div>
  <h3>Social</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-social-facebook fill-icon-facebook nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-facebook</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-social-instagram fill-icon-instagram nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-instagram</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-social-twitter fill-icon-twitter nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-twitter</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-social-snapchat fill-icon-snapchat nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-snapchat</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-social-vimeo fill-icon-vimeo nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-vimeo</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-social-youtube fill-icon-youtube nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-youtube</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-social-google-plus fill-icon-google nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-google-plus</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-social-pinterest fill-icon-pinterest nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-pinterest</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-social-tumblr nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-tumblr</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-social-github nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-github</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-social-foursquare nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-foursquare</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-social-dropbox nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-dropbox</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-social-apple nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-apple</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-social-android nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-social-android</pre>
      <hr>
    </div>
  </div>
  <h3>Amenities</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-bath nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-bath</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-bed nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-bed</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-brick nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-brick</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-fireplace nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-fireplace</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-pool nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-pool</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-gym nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-gym</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-wash-dry nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-wash-dry</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-washer nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-washer</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-rooftop nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-rooftop</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-subway nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-subway</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-doorman nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-doorman</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-elevator nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-elevator</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-amenity-dishwasher nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-amenity-dishwasher</pre>
      <hr>
    </div>
  </div>
  <h3>Faces</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-face-happy nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-face-happy</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-face-sad nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-face-sad</pre>
      <hr>
    </div>
  </div>
  <h3>Charts</h3>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-bar-chart-a nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-bar-chart-a</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <i class="nklyn-icon-bar-chart-b nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-bar-chart-b</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <i class="nklyn-icon-pie-chart nklyn-3x"></i>
      <hr>
      <pre>nklyn-icon-pie-chart</pre>
      <hr>
    </div>
  </div>
</div>
