<% content_for :title, "Privacy Policy - Nooklyn, Inc." %>

<div class="nklyn-jumbotron">
  <div class="container text-center">
    <h5>Effective from 08/01/2015</h5>
    <h1>Privacy Policy</h1>
  </div>
</div>

<div class="super_container">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <br>
        <div class="list-group">
          <a href="/about" class="list-group-item">
            <h4 class="list-group-item-heading">About</h4>
          </a>
          <a href="/terms" class="list-group-item">
            <h4 class="list-group-item-heading">Terms of Service</h4>
          </a>
          <a href="/privacy" class="list-group-item">
            <h4 class="list-group-item-heading">Privacy Policy</h4>
          </a>
          <a href="/fair-housing" class="list-group-item">
            <h4 class="list-group-item-heading">Fair Housing</h4>
          </a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="narrow-page-container privacy-policy-page">
          <h2>Privacy Policy of www.nooklyn.com</h2>
          <p>This Application collects some Personal Data from its Users.</p>
          <hr>
          <h2>Data Controller and Owner</h2>
          <p>Nooklyn.com LLC - 28 Scott Avenue, Suite #106, Brooklyn, New York 11237.</p>
          <p>help@nooklyn.com</p>
          <hr>
          <h2>Types of Data collected</h2>
          <p>Among the types of Personal Data that this Application collects, by itself or through third parties, there are: Cookie, Usage Data, Email, First Name, Last Name, Phone number, Picture, Gender, Username, Password and Geographic position.</p>
          <p>Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.</p>
          <p>The Personal Data may be freely provided by the User, or collected automatically when using this Application.</p>
          <p>Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.</p>
          <p>Failure to provide certain Personal Data may make it impossible for this Application to provide its services.</p>
          <p>The User assumes responsibility for the Personal Data of third parties published or shared through this Application and declares to have the right to communicate or broadcast them, thus relieving the Data Controller of all responsibility.</p>
          <h2>Mode and place of processing the Data</h2>
          <h3>Methods of processing</h3>
          <p>The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.</p>
          <p>The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.</p>
          <h3>Place</h3>
          <p>The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p>
          <h3>Retention time</h3>
          <p>The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.</p>
          <hr>
          <h2>The use of the collected Data</h2>
          <p>The Data concerning the User is collected to allow the Application to provide its services, as well as for the following purposes: Access to third party services' accounts, Analytics, Contacting the User, Displaying content from external platforms, Hosting, Managing email addresses and sending messages, Registration and authentication, Social features, Backup saving and management, Interaction with external social networks and platforms, Handling payments, Infrastructure monitoring and Location-based interactions.</p>
          <p>The Personal Data used for each purpose is outlined in the specific sections of this document.</p>
          <h2>Facebook permissions asked by this Application</h2>
          <p>This Application may ask some Facebook permissions allowing it to perform actions with the User's Facebook account and to retrieve information, including Personal Data, from it.</p>
          <p>For more information about the following permissions, refer to the Facebook permissions documentation and to the Facebook privacy policy.</p>
          <p>The permissions asked are the following:</p>
          <h3>Basic Information</h3>
          <p>By default, this includes certain User’s Data such as id, name, picture, gender, and their locale. Certain connections of the User, such as the Friends, are also available. If the user has made more of their data public, more information will be available.</p>
          <h3>Email</h3>
          <p>Provides access to the user's primary email address</p>
          <h2>Additional information about Data collection and processing</h2>
          <h3>Legal Action</h3>
          <p>The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.</p>
          <p>The User is aware of the fact that the Data Controller may be required to reveal personal data upon request of public authorities.</p>
          <h3>Additional information about User's Personal Data</h3>
          <p>In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.</p>
          <h3>System Logs and Maintenance</h3>
          <p>For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).</p>
          <h3>Information not contained in this policy</h3>
          <p>More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.</p>
          <h3>The rights of Users</h3>
          <p>Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.</p>
          <h3>Changes to this privacy policy</h3>
          <p>The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller erase the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.</p>
          <hr>
          <h2>Services</h2>
          <h3>Analytics</h3>
          <p>The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track of User behavior.</p>
          <h3>Google Analytics (Google)</h3>
          <p>Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data collected to track and examine the use of this Application, to prepare reports on its activities and share them with other Google services.</p>
          <p>Google may use the Data collected to contextualize and personalize the ads of its own advertising network.</p>
          <hr>
          <h3>Contacting the User</h3>
          <h3>Mailing List or Newsletter (This Application)</h3>
          <p>By registering to the mailing list or to the newsletter, the User’s email address will be added to the contact list of those who may receive email messages containing information of commercial or promotional nature concerning this Application. Your email address might also be added to this list as a result of signing up to this Application or after performing a purchase.</p>
          <p>Personal Data collected: Email, First Name and Last Name.</p>
          <h3>Phone contact (This Application)</h3>
          <p>Users that provided their phone number might be contacted for commercial or promotional purposes related to this Application, as well as for fulfilling support requests.</p>
          <p>Personal Data collected: Phone number.</p>
          <h3>Contact form (This Application)</h3>
          <p>By filling in the contact form with their Data, the Users authorizes this Application to use these details to reply to requests for information, quotes or any other kind of request as indicated by the form’s header.</p>
          <p>Personal Data collected: Email, First Name, Last Name and Phone number.</p>
          <hr>
          <h3>Hosting Services</h3>
          <p>These services have the purpose of hosting data and files that enable the Application to run and be distributed. Some of these services work through servers geographically distributed, making difficult to determine the actual location where the Personal Data are stored.</p>
          <h3>Heroku (Heroku, Inc.)</h3>
          <p>Heroku is a hosting service provided by Heroku, Inc.</p>
          <h3>Amazon Web Services (Amazon)</h3>
          <p>Amazon Web Services is a hosting service provided by Amazon.com Inc.</p>
          <hr>
          <h3>Managing email addresses and sending messages</h3>
          <p>These services make it possible to manage a database of email contacts to communicate with the User via email.</p>
          <p>The services are used to collect data concerning the date and time when the mail is viewed by the User, as well as when the User interacts with incoming mail, such as by clicking on links included in the email.</p>
          <h3>Mandrill (The Rocket Science Group, LLC.)</h3>
          <p>Mandrill is an email address management and message sending service provided by The Rocket Science Group, LLC.</p>
          <p>Personal Data collected: Email and Usage Data.</p>
          <h3>Mailchimp (Mailchimp)</h3>
          <p>Mailchimp is an email address management and message sending service provided by Mailchimp Inc.</p>
          <p>Personal Data collected: Email.</p>
          <hr>
          <h3>Registration and authentication</h3>
          <p>By registering or authenticating, Users allow this Application to identify them and give them access to dedicated services.</p>
          <p>Depending on what is described below, third parties may provide registration and authentication services.</p>
          <p>In this case, this Application will be able to access some Data, stored by these third party services, for registration or identification purposes.</p>
          <h3>Facebook Authentication (Facebook)</h3>
          <p>Facebook Authentication is a registration and authentication service provided by Facebook Inc. and is connected to the Facebook social network.</p>
          <p>Personal Data collected: Various types of Data.</p>
          <h3>Direct registration (This Application)</h3>
          <p>The User registers by filling out the registration form and providing the Personal Data directly to this Application.</p>
          <p>Personal Data collected: Email, First Name, Gender, Last Name, Password, Phone number, Picture and Username.</p>
          <h3>Twitter OAuth (Twitter)</h3>
          <p>Twitter Oauth is a registration and authentication service provided by Twitter Inc. and is connected to the Twitter social network.</p>
          <p>Personal Data collected: Various types of Data.</p>
          <hr>
          <h2>Definitions and Legal References</h2>
          <h3>Personal Data (or Data)</h3>
          <p>Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.</p>
          <h3>Usage Data</h3>
          <p>Information collected automatically from this Application (or third party services employed in this Application ), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Application, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.</p>
          <h3>User</h3>
          <p>The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refer.</p>
          <h3>Data Subject</h3>
          <p>The legal or natural person to whom the Personal Data refers to.</p>
          <h3>Data Processor (or Data Supervisor)</h3>
          <p>The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.</p>
          <h3>Data Controller (or Owner)</h3>
          <p>The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal Data and the means used, including the security measures concerning the operation and use of this Application. The Data Controller, unless otherwise specified, is the Owner of this Application.</p>
          <h3>This Application</h3>
          <p>The hardware or software tool by which the Personal Data of the User is collected.</p>
          <h3>Cookie</h3>
          <p>Small piece of data stored in the User's device.</p>
        </div>
      </div>
    </div>
  </div>
</div>