<% content_for :title, "Renter Guide - Nooklyn - Rentals, Sales, Lofts" %>
<div class="super_container">
  <div class="standard-page-header">
    <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/PoweredByNooklyn.png', class: "img-responsive" %>
    <h1>Renter Guide</h1>
  </div>
  <div class="narrow-page-container renter-guide-container container">
    <h2>Why choose us?</h2>
    <p>We love our clients, you're our future neighbors! We are committed to making the process of renting an apartment easy and enjoyable. We will work with your schedule to get you into your new home. Let one of our professional agents educate and guide you through Brooklyn’s Real Estate market.</p>

    <h2>When to start searching?</h2>
    <p>You should start your search with us 1 to 2 months prior to the end of your lease.</p>

    <h2>What do you need to apply?</h2>
    <p>We recommend you prepare the following documents prior to meeting with one of our agents. All financial information will remain confidential.</p>
      <ul>
        <li>Complete our rental application</li>
        <li>Work reference letter</li>
        <li>Landlord reference letter</li>
        <li>2 most recent pay stubs</li>
        <li>First 2 pages of last years tax return - W2 -1099</li>
        <li>2 most recent bank statements </li>
        <li>Drivers license, Passport, or Non-drivers license I.D</li>
      </ul>
    <p>Freelancers - Please bring as much proof of income as possible.</p>

    <h2>Download Rental Applications</h2>
    <p>Rental applications are available online and at our office for your convenience.</p>
    <ul>
      <li><a href="//nooklyn-files.s3.amazonaws.com/Rental-Application.pdf" target="_blank">Rental Application</a></li>
      <li><a href="//nooklyn-files.s3.amazonaws.com/Co-Signer-Application.pdf" target="_blank">Co-Signer Application</a></li>
    </ul>

    <h2>The Deposit</h2>
    <p>Once you have decided to apply for one of our listings, you will be required to leave a deposit in the form of a money order or certified check. (Sorry, personal checks are not accepted forms of payment.)</p>

    <h2>Renter Qualifications </h2>
    <p>You will need a decent credit score and proof of income or you will need to apply with a co-signer.<br> Every landlord has different credit & income requirements generally most Brooklyn Landlords require a combined income of at least 40 - 80 times the monthly rent.</p>

    <h2>Lacking credit or have bad credit?</h2>
    <p>No worries, we can assist you with your specific needs as best as we can.</p>

    <h2>Co-Signer Requirements </h2>
    <p>A co-signer is generally used to supplement income or credit requirements set by the landlord. The following materials are required. All financial information will remain confidential.</p>
    <ul>
      <li>Complete our co-signer application</li>
      <li>Sign and notarize a co-signer agreement </li>
      <li>2 Most Recent pay stubs</li>
      <li>First 2 pages of last years tax return</li>
      <li>2 most recent bank statements </li>
      <li>Drivers license, Passport, or Non-drivers license I.D</li>
    </ul>

    <h2>Time to sign the lease</h2>
    <p>Please remember that rent, security, and any brokerage fees are due at lease signing, payable by certified funds only. Please ask your rental agent for further payment instructions prior to your lease signing.</p>

    <h2>Have more questions?</h2>
    <p>Come on in or give us a call. We would love to hear from you.</p>
    <hr>
    <%= link_to "Contact Us", contact_path,  class:"button btn-black btn-2x" %>
    <br>
  </div>
  <br>
</div>