{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
    <head>
        <title>Taste Savant: Coming Soon</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <script src="{% static 'js/mootools.core.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/mootools.more.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/clientcide.form.tips.js' %}" type="text/javascript"></script>

        <script>
        window.addEvent('domready', function() {

        var FormValidator = new Form.Validator.Tips($('theform'));

            $('id_address').set('value', 'Enter Your Email');

            $('id_address').addEvent('focus',
                function(event){
                    if (this.value == 'Enter Your Email')
                        this.value = '';
            });


        });
        </script>
    </head>
<body>
    <div id="content">
        <div id="center-column">
            <img src="{{logo.file.url}}" title="Food Discovery at Your Fingertips"/>
            <div id="signup">
                <div id="signup-copy">{{copy|safe}}</div>
                <div id="signup-form-wrapper">
                <div id="signup-form">
                    <form id = "theform" method="POST">
                        <input id="id_address" type="text" name="address" class="validate-email" maxlength="320">
                        <input id="address-submit" type="submit" value="SignUp"/>
                    </form>
                </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
