


.header { background: #999977; /* Old browsers */
background: -moz-linear-gradient(top,  #999977 0%, #4f4d46 78%, #383635 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999977), color-stop(78%,#4f4d46), color-stop(100%,#383635)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* IE10+ */
background: linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999977', endColorstr='#383635',GradientType=0 ); /* IE6-9 */
}

.table thead th { background: #999977; /* Old browsers */
background: -moz-linear-gradient(top,  #999977 0%, #4f4d46 78%, #383635 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999977), color-stop(78%,#4f4d46), color-stop(100%,#383635)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* IE10+ */
background: linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999977', endColorstr='#383635',GradientType=0 ); /* IE6-9 */
}

.button-red {
    background: #999977; /* Old browsers */
background: -moz-linear-gradient(top,  #999977 0%, #4f4d46 78%, #383635 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999977), color-stop(78%,#4f4d46), color-stop(100%,#383635)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* IE10+ */
background: linear-gradient(top,  #999977 0%,#4f4d46 78%,#383635 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999977', endColorstr='#383635',GradientType=0 ); /* IE6-9 */
}