<% content_for :title, "Help - Nooklyn - Rentals, Sales, Lofts" %>
<div class="nklyn-jumbotron">
  <div class="container">
    <h5>Website Help</h5>
    <h1>Send us a message,<br>We're here to help.</h1>
  </div>
</div>
<div class="container">
  <%= render 'form' %>
</div>