<style>
  body {
    background-color: #63964b;
  }
</style>
<div style="
	height: 100%;
	width: 100%;
	padding: 40px;
    background: #63964b;
    font-size: 36px;
    color: #fff;
    font-family: 'helveticaneue-light',helveticaneue-light,sans serif;">
	You're ready to use Thrive!<br/>
	<br/>
	Tap <span style="font-style:bold;">"I've already verified"</span> on the app to continue.
</div>