<style>
  body {
    background-color: #63964b;
  }
</style>
<div style="
	height: 100%;
	width: 100%;
	padding: 40px;
    background: #63964b;
    font-size: 36px;
    color: #fff;
    font-family: 'helveticaneue-light',helveticaneue-light,sans serif;">    
	Sorry, something went wrong with your confirmation. <br/>
	<br/>
	Please try resending your confirmation email or <a style="color:white;" href="mailto:thriveapp@hbs.edu">contact support</a>.
</div>