<% content_for :title, "Agent Guide - Nooklyn - Rentals, Sales, Lofts" %>
<div class="mega-container">
  <br>
  <div class="agent-guide-container">
    <%= image_tag 'seal_bw.png', class: "img-responsive block-center" %>
    <br>
    <h1 class="text-center">Agent Guide</h1>
    <hr>
    <p class="lead">You are joining an awesome company with an awesome team.</p>
    <p>Founded in 2010 as a blog, Nooklyn grew based on trust, customer care, forward marketing and building great software. We've been building free tools for our agents and users ever since.</p>
    <hr>
    <h3>Getting Started</h3>
    <ol>
      <li>Associate your license under Nooklyn.com with our training manager.</li>
      <li>Sign our agreements (Confidentiality, Independent Contractor, W9).</li>
      <li>Sign up on nooklyn.com and upload a profile photo. </li>
      <li>Learn how to use the matrix, Groupme, Dropbox, receive free company email and business cards.</li>
      <li>Update your voicemail, LinkedIn, and other social media accounts with your new awesome position.</li>
      <li>Get to know the listings, view them and take photos, understanding our availability’s is everything.</li>
      <li>Get familiar with our simple paperwork process.</li>
      <li>Market listings. Post, post, post, until your fingers bleed.</li>
      <li>Create accounts with, nakedapartments.com, craigslist.org, padlister.com and postlets.com.</li>
      <li>Hit up your local business with our template flyers and your business cards.</li>
      <li>Shadow a senior agent on 3-5 appointments. Listen, learn and ask questions after the showing.</li>
      <li>You MUST have a senior agent or training manager present to your first 3 appointments and present to your first 3-5 deposits.</li>
    </ol>
    <h3>Trial Period</h3>
    <p>Everyone starts with a 60-day trial period you must close 5 deals within the probationary trial period. After closing 5 deals independently you are eligible for a performance review and commission increase.</p>
    <p>You are required to close a minimum of 24 residential leases annually.</p>
    <p>You must attend office meetings. If you absolutely cannot attend you must give notice.</p>
    <p>After your first 30 days you must meet with your  training manager to go over anything you may need help with.</p>
    <h3>Customer Service</h3>
    <p class="lead">We love our clients - Let’s keep them!</p>
    <p>Awesome customer service separates us from the competition.</p>
    <p>Zero tolerance for poor attitudes, mistreating, and misrepresenting our customers. Moving absolutely sucks! It’s your job to make it suck a lot less. Without our clients we aren’t in business.</p>
    <p>Close more deals and leave your clients happy by being non-pushy, honest, transparent and always offering a clear and timely resolutions when issues arise. </p>
    <p>Don’t promise ANYTHING you can’t 100% positively deliver. In every scenario “I will gladly find out for you” is always the correct response. If you find yourself in a difficult position, do not ignore it, instill confidence that Nooklyn staff will work towards a solution. Give your clients a time frame for resolution and stick to it. </p>
    <p>Be personable, make friends, have fun and most importantly, always follow through. Brokers have a bad rep, so show your clients you’re a real human. Entertain them, make interesting or humorous conversation. Clients respond best when you help them as friend, advise them as if you were moving in together, demonstrate your integrity and strategic help by listening to their needs and going the extra mile.</p>
    <p>Customer service is a group effort and your coworkers can be hurting your pockets. If you are aware of co-workers not meeting customer service standards, bring them to our attention or first have a private conversation with them.</p>
    <p>Separate yourself from the hundreds of bad brokers. Keep in touch with your clients, call them back even after they move in. Building these personal relationships with your clients gets you referrals to both clients and landlords. </p>
    <ol>
      <li>Kindly greet anyone visiting our offices offer them water, and find them a seat. </li>
      <li>Call each client back timely.</li>
      <li>Give each client a business card.</li>
      <li>Never pull a no-show. If this happens accidently, apologize profusely and send a coworker if you can’t show. </li>
      <li>Be transparent with apt details, utilities, lease terms, our fee’s, move in dates, etc.</li>
      <li>Follow up with your clients.</li>
      <li>Keep a detailed list of all your customers and reach back out to them often.</li>
    </ol>
    <p>Common resolution to unhappy customers (Approval needed):</p>
    <ul>
      <li>Possibility of partial or lowered fee and or applications fees via approval from Senior/Listing/Nooklyn management. </li>
      <li>Lowering our broker fees. </li>
      <li>Hiring professional services, such as, movers, maids, painters, etc.</li>
    </ul>
    <h3>General Rules</h3>
    <ul>
      <li>Last to leave the office must lock up.</li>
      <li>Don’t leave clients sensitive information lying around the office.</li>
      <li>Respect our offices clean up after yourself and your clients.</li>
      <li>You may NOT take paperwork home.</li>
      <li>You must give notice to the tenants when entering occupied apartments.</li>
      <li>Remember to lock occupied apartments after your showing. </li>
      <li>Remember to shut off any lights you turned on during your showing.</li>
      <li> We have open concept desk space. Agents working with clients or on deadlines have priority.</li>
      <li>Be aware of what you say and do in the office, especially in front of our clients.</li>
      <li>Resolve conflict healthily and away from clients, time wasted in conflict results in lost income.</li>
      <li>Do not remove any items from an apartment without written permission from its rightful owner.</li>
      <li>Please don’t abuse Groupme, everyone gets notifications, post in the correct groups.</li>
      <li>When our Bushwick office is busy please use basement office if you’re not with clients.</li>
      <li>Please do not make statements or comments to media and refer all media inquiries to info@nooklyn.com</li>
      <li>Keep our listings updated, our users do not enjoy searching endlessly.</li>
      <li>Direct client to the right agents, don’t ignore leads you don’t have time for or have the skills needed to help.</li>
      <li>Work cell phone voicemails must have your name @ NOOKLYN.COM.</li>
      <li>Do not engage, respond, or encourage conflict with clients, landlords, and agents, instead ask for help.</li>
      <li>Give Nooklyn notice  when you are not working for extend periods of time. </li>
      <li>Give Nooklyn thirty days notice if requesting termination.</li>
      <li>You may not voice your opinion on any agents progress, behaviors, or performance. </li>
      <li>Email info@nooklyn.com  with all work related concerns and disputes.</li>
      <li>Email help@nooklyn.com with any website troubleshooting.     </li>
    </ul>
    <h3>Application Process</h3>
    <p>Our deposits are almost always refundable in order to uphold our commitment to customer service. Our minimum good faith deposit is $500 (24hr time limit) but try to get one full month. Some landlords require a full month deposit payable to them or use an online payment system so you must check with the listing agent prior to taking a deposit.</p>
    <p>Paperwork and follow though is everything!</p>
    <p>The goal is to obtain all required paperwork and get a lease executed within 24 hours – 48 hours. The longer you wait risks your clients changing their mind.</p>
    <ul>
      <li>A deposit does not guarantee a property off the market, it starts the paperwork process in good faith. </li>
      <li>Call the listing agent to verify, listings availability, apt details, application process, and pets. </li>
      <li>Check on,  price, apt #, move in date; total move in cost, utilities, our fees and any amenities.</li>
      <li>If the listing agent is unavailable, take the deposit and get back to your clients after verification.</li>
      <li>Label a Manila folder for this application to collect paperwork, include apt address, unit # in the tab</li>
      <li> All NOOKLYN paperwork is located on our DROPBOX or printed out for you in each office.</li>
      <li>Complete a deposit agreement / NY state disclosure form.</li>
      <li>Get a photocopy of each applicant’s driver’s license or passport.</li>
      <li>Have each applicant complete a rental application; check to make sure it’s completed properly.</li>
      <li>Cash deposits label an envelope, with address, apt #, deposit amount, date, and your name.</li>
      <li> Application fees accepted in cash should be labeled separate from then the deposit on your envelope.</li>
      <li>Cash must be left with office admin or designated deposit boxes. You may never hold on to funds.</li>
      <li>Chase quick pay has no transaction fees.  </li>
      <li>Paypal and credit cards have a 2.9% convenience fee.</li>
      <li>When processing online payments, make sure your client includes, your name, apt #, address.</li>
      <li>Collect application fees for each applicant and each co-signer at time of deposit.</li>
      <li>Ask clients to print out proof of income at the office.</li>
      <li>Clients can also email/ fax paperwork, advise them to include apt # and address applying for.</li>
      <li>Update listing status on the matrix and group me. </li>
      <li>It is your responsibility to follow up with your clients and collect paperwork within 24-48 hours.</li>
      <li>Scan and email all paperwork received to the listing agent, in addition, print it out and add to your file.</li>
      <li> Remember, deposits are NOT closed deals.</li>
      <li>After your receive an approval coordinate a lease singing with the listing agent. </li>
      <li>Rejected deposits will be returned only by company check at the Bushwick office.</li>
      <li>Applications can only be shared with building owner, representatives, and our administration. </li>
      <li>Assure clients / co signers  financial information is confidential and we use online fax for added security. </li>
    </ul>
    <h3>Useful Tips</h3>
    <ul>
      <li>Keeping an organized work space at home will increase your productivity.</li>
      <li>Building a social following using interests while promoting under market and unique listings increases leads. </li>
      <li>Get AWESOME reviews on Yelp! This helps you lease more apartments. </li>
      <li>Build up a reputation on sites like naked apartments with user to user reviews.</li>
      <li>You get out what you put in. Agents who work before noon and extended hours make significantly more. </li>
    </ul>
    <h3>Rental Requirements</h3>
    <ul>
      <li>Completed rental and/or co-signer application.</li>
      <li>Guarantors: notarized guarantee of payment agreement </li>
      <li>3 most recent pay stubs.</li>
      <li>First 2 pages of last years tax return - W2 -1099.</li>
      <li>2 most recent bank statements.</li>
      <li>Drivers license, Passport, or Non-drivers license I.D.</li>
      <li>Work reference letter.</li>
      <li>Landlord reference letter.</li>
    </ul>
    <h3>Broker Fees</h3>
    <p>Broker fees are payable to: NOOKLYN.COM LLC.</p>
    <p>All other payments in this transaction including first, last, and security, are payable to the landlord directly. Our fees can be negotiable this gives you the flexibility to close more deals. Check with the listing agent for approval prior to negotiating fees with your clients.</p>
    <h3>Owner Pays</h3>
    <p>OP stands for (owner pays)</p>
    <p>Collect only the amount of commission the owner pays, payable to NOOKLYN.COM LLC.</p>
    <p>Most common OP ‘s are, 50%, 70%, 100% of one months rent. First, last, and security are payable to the landlord minus the percentage we collected for our fee.</p>
    <h3>Landlord Payments</h3>
    <p>Before you instruct your clients to pay any funds to a landlord, confirm with the listing agent whom to make checks payable to.</p>
    <p>Listing agents: when paying a landlord please give office administration 24 hours to process a check unless it’s an emergency.</p>
    <h3>Application Fees</h3>
    <p>Each application and  each co-signer must pay a $75 NON- REFUNDABLE application fee to cover processing their application.</p>
    <p>In some cases, if our clients are dissatisfied or we are at fault, we will lower the application fee to $25.00 per person or if the credit report was not processed we will refund application fees entirely. You must get approval for this first.</p>
    <p>Please take all application fees at the time of the deposit.</p>
    <p>If your client cannot pay application fees at time of deposit or obtains additional applicants and/or co-signer’s you are responsible to collect these application fees.</p>
    <p>Unpaid application fees will be taken from your commission check at $50 per applicant.</p>
    <p>Administration approved application fee discounts must be notated on the deposit agreement.</p>
    <p>Administration approved application fees waived must be notated on the deposit agreement.</p>
    <h3>Payment Types</h3>
    <ul>
      <li> CASH</li>
      <li> CERTIFIED  BANK  CHECK</li>
      <li>CHASE QUICK PAY  (Payable to: info@nooklyn.com)</li>
      <li>PAYPAL - 2.9% processing fee  (Payable to: info@nooklyn.com)</li>
      <li>CREDIT CARD - 2.9% processing fee</li>
      <li>MONEY ORDER</li>
      <li>NO PERSONAL CHECKS EVER!</li>
      <li>NO OVER THE PHONE CREDIT CARD PAYMENTS.</li>
    </ul>
    <h3>Refunds</h3>
    <p>We are not in the business of stealing deposits. We are in the business of renting apartments!</p>
    <p>On case-by-case occasions, our policy is to talk to the tenants if the landlord occurred a loss as a result of the tenants backing out of signing a lease. We work towards resolution for both parties involved. Most commonly we will ask the clients to forfeit part of their deposit and if we find replacement tenants to meet the same lease terms we refund everything.</p>
    <p>Rejected deposits will be returned only by company check at the Bushwick office. Please give administration 24 hours notice for a refund check.</p>
    <h3>Flip’em</h3>
    <p>Our experienced agents are great at flipping clients. Don’t throw away a potential deal. If your clients are backing out, frustrated, then get an experienced NOOKLYN agent to help you flip em. We can even work with people with less than perfect credit, etc.</p>
    <h3>Payday</h3>
    <p>Friday is now payday. </p>
    <p>Submit invoices by Thursday afternoon. </p>
    <p>For accounting purposes you must invoice timely, you have three days after a closing to invoice. </p>
    <h3>Keys</h3>
    <ul>
      <li>Sign out all keys.  </li>
      <li>You MUST return keys to the office within 2 hours of showing.</li>
      <li>Make yourself a copy.</li>
      <li>Listing agents MUST keep a copy       </li>
    </ul>
    <h3>Why list with Nooklyn</h3>
    <p class="lead">Visit our <%= link_to "About Page", about_path %> to view our totally awesome statistics and boast about them.</p>
    <ul>
      <li>A Real Estate technology firm with massive online exposure. </li>
      <li>Team of 50+ agents to help you fill your space</li>
      <li>We take professional photos of your space</li>
      <li>Assigned listings management </li>
      <li>Fast closing team with years of expertise screening applications </li>
      <li>Unmatched web presence to get your listing seen and leased</li>
      <li>Customer service focused agents make sure we have repeat business</li>
      <li>Syndication and social marketing for additional exposure </li>
      <li>We work with our brokerage community</li>
      <li>Strategic open houses </li>
      <li>Roommate pairing </li>
      <li>Professional showroom design (For new developments) </li>
    </ul>
    <h3>Why pay a fee</h3>
    <ul>
      <li>The fee is tax deductible </li>
      <li>You will have less vacancy time</li>
      <li>Attracts more clients  </li>
      <li>We can offer discounted commission rates for exclusive listings </li>
    </ul>
    <h3>Listing fees & bonus </h3>
    <ul>
      <li>Signed exclusive 15% (Exclusive agency or exclusive right to sell).</li>
      <li>Semi exclusive 10% </li>
      <li>Open listings 5% </li>
      <li>Assigned listing management 5% </li>
      <li>Year round: 5 Full Time management listing deposits in a month for $500 bonus.</li>
    </ul>
    <h3>Listing Agent Requirements</h3>
    <p class="lead">You will not earn listing fees if requirements below are not met. </p>
    <ul>
      <li>All listings must be added immediately to our matrix and announced on GroupMe. </li>
      <li>Keys are in the office or access is clearly stated on MATRIX.</li>
      <li>Photos of each listing added to the MATRIX.</li>
      <li>Property details are kept updated. </li>
      <li>Prices are kept updated..</li>
      <li>Photos are updated after construction.</li>
      <li>Photos are updated after tenants vacate.</li>
      <li>After deposit, follow up with agent that took deposit</li>
      <li>Work with agent to make sure all paperwork is what the landlord requires</li>
      <li>Landlord is satisfied and updated throughout rental process.</li>
      <li>Clients are satisfied and updated throughout rental process.</li>
      <li>Clients are given the proper details for funds and lease signing.</li>
      <li>Lease signings are attended / coordinated for client and landlord.</li>
    </ul>
    <h3>Splits / co broking</h3>
    <h4>With other Agencies:</h4>
    <p>You must sign a co-broke commission agreement with any cooperating real estate agent / agency. You are splitting a deal. If total commission is $2000 and your current rate is 40% and cooperating agent is getting 50% of the commission's. YOU will invoice at 20% of the total commission and your cooperating agent will invoice at 25% of the total commission. </p>
    <h4>Between Two Nooklyn Agents:</h4>
    <p>If you split a deal with another Nooklyn agent, you must agree upon how you are splitting the commision before the deposit is taken. If there is not an agreement before hand, it will be split 50/50 to avoid all conflict. Keep it friendly! We all work together often and you don’t want piss off your fellow agents!</p>
    <h3>Social media</h3>
    <p>Social media is a powerful marketing tool for you as a real estate agent. As a representative of the brand, please be aware of negativity real estate agents face. Refrain from making statements or commenting on gentrification and rent increases on our behalf.  Do not respond to any journalist. Forward all press to Harley.</p>
    <h3>Craigslist</h3>
    <p>Paid craigslist ads must always include Nooklyn marketing.</p>
    <p>If you post in the by owner you must NEVER include Nooklyn marketing or use your Nooklyn email.</p>
    <h3>Email</h3>
    <p>
      Your email signature should include the following.<br>

      NOOKLYN.COM<br>
      Licensed Real Estate agent<br>
      (Your full legal name)<br>
      Office address<br>
      www.nooklyn.com <br>
      Cell: <br>
      Fax:<br>

      (Optional)<br>
      Follow me on instagram<br>
      Find me on Facebook <br>
      Link to listings on naked apartments<br>
    </p>
    <h3>Pre-drafted client email</h3>
    <blockquote>
      <p>Hi ,</p>
      <p>It's [your name here] from Nooklyn.com. It was nice meeting you today! As we discussed, I’m going to help you with the paperwork to get your new home!</p>
      <p>Here is the paperwork of what we still need from applicants and guarantors if you'll be using any:</p>
      <p>Applications and Photo ID's</p>
      <ul>
        <li>-Rental Application (attached) [attach it to the email]</li>
        <li>-Guarantor Application (attached) [attach it to the email]</li>
      </ul>
      <p>Applications and Photo IDs</p>
      <ul>
        <li>-pay stubs, letter of employment, etc.</li>
        <li>(if you are in school, please provide proof of that. It can be a letter of enrollment, student loans, whatever you have)</li>
      </ul>
      <ul>
        <li>Recent Bank statements</li>
        <li>Tax returns</li>
        <li>-W2's, 1099's, 1040, etc</li>
      </ul>
      <p>Anything else is bonus!</p>
      <ul>
        <li>-savings accounts, stocks and bonds, letter of recommendation from a previous landlord, etc.</li>
        <li>Basically anything that you think will help your file be approved.</li>
      </ul>
      <p>All paperwork can be scanned and emailed to me.</p>
      <p>For your Guarantor:</p>
      <p>There is a separate document, the Guarantor Agreement, that will be sent to you after we have received your applications and paperwork. This document needs to be signed and notarized and returned to me before the lease can be signed. This should be scanned and emailed back in electronic form. Please mail the original to my office at 28 Scott Ave. Suite #106 Brooklyn, NY 11237</p>
      <p>Feel free to ask any questions in the meantime!</p>
      <p>Best,</p>
      <p>[your name here]</p>
    </blockquote>
    <h3>Territory Map</h3>
    <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/employees/territory-map.png', class: 'img-responsive' %>
    <br>
    <%= link_to asset_path 'https://nooklyn-files.s3.amazonaws.com/employees/territory-map.png', target: "_blank" do  %>
      <button class="button btn-black btn-2x">Download Hi-Res</button>
    <% end %>
    <h3>Questions</h3>
    <p class="lead">Just ask! Don’t be afraid to reach out to Hayley with any questions!</p>
  </div>
  <br>
</div>