<% content_for :title, "How to Show - Videos - Powered By Nooklyn" %>

<div class="super_container">
  <%= render 'matrix/listings/matrix_navigation' %>
  <div class="standard-page-header">
    <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/PoweredByNooklyn.png', class: "img-responsive" %>
    <h1>Videos: Approval</h1>
  </div>
  <div class="container text-center">
    <h3>1</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/149369148?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <h3>2</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/149369147?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <h3>3</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/149369143?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <h3>4</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/149369145?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <h3>5</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/149369146?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <h3>6</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/149369144?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <h3>7</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/149369150?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <h3>8</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/149369151?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <br>
</div>
