<% content_for :title, "Videos - Powered By Nooklyn" %>

<div class="super_container">
  <%= render 'matrix/listings/matrix_navigation' %>
  <div class="standard-page-header">
    <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/PoweredByNooklyn.png', class: "img-responsive" %>
    <h1>Videos: Craigslist Broker Ads</h1>
  </div>
  <div class="container text-center">
    <h3>Create Craigslist Broker ads like a Boss Agent!</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/146131783?color=ffc03a&title=0&byline=0&portrait=0" width="500" height="313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <br>
</div>