<% content_for :title, "Intermediate Posting - Videos - Powered By Nooklyn" %>

<div class="super_container">
  <%= render 'matrix/listings/matrix_navigation' %>
  <div class="standard-page-header">
    <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/PoweredByNooklyn.png', class: "img-responsive" %>
    <h1>Intermediate Posting</h1>
  </div>
  <div class="container text-center">
    <h3>Intermediate Posting</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/147805697?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <h3>Intermediate Posting- Expiring:Updating</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/147805717?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <h3>Intermediate Posting- Renewing Ads </h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/147805732?color=ffc03a&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <br>
</div>
