<% content_for :title, "Recruiting Team Guidelines - Nooklyn - Rentals, Sales, Lofts" %>
<div class="super_container">
  <%= render 'matrix/listings/matrix_navigation' %>
  <div class="standard-page-header">
    <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/PoweredByNooklyn.png', class: "img-responsive" %>
    <h1>Recruiting Team Guidelines</h1>
  </div>

  <div class="narrow-page-container renter-guide-container container">
    <h2>Why Switch to Nooklyn?</h2>
    <p class="lead">We’ve spent the last couple years building tools and software to make real estate easier for everyone - renters and agents. </p>

    <h4>Listings</h4>
    <ul>
      <li>Hundreds of exclusive listings (65% of our listings are exclusive)</li>
      <li>Accurate and up-to-date listing database with awesome photos</li>
    </ul>

    <h4>Training</h4>
    <ul>
      <li>We teach our agents how to manage listings</li>
      <li>We have tons of video training content and more on the way</li>
    </ul>

    <h4>Leads</h4>
    <ul>
      <li>New leads come through the website everyday</li>
      <li>40% - 50% of our agents leads come directly from our website.</li>
    </ul>

    <h4>Money</h4>
    <ul>
      <li>Our top producers are making over 15–30K per month.</li>
      <li>Our average agent with little experience makes 5K per month</li>
    </ul>

    <h4>Technology</h4>
    <ul>
      <li>Show them the statistics page</li>
      <li>Free business cards from Moo.com</li>
    </ul>

    <h4>Company</h4>
    <ul>
      <li>Great customer reviews online</li>
      <li>Collaborative working environment</li>
    </ul>

    <h2>The Process</h2>
    <ol>
      <li>If your recruit is not licensed yet help them start the process: http://www.nyrei.com/onlinestudy.htm</p></li>
      <li>Once licensed, recruits must interview with Harley, Steve (Crown Heights) or Andrew (Greenpoint).</li>
      <li>Paperwork Checklist</li>
      <ul>
        <li>W9</li>
        <li>Independent Contractor Agreement</li>
        <li>Non-Compete Agreement</li>
        <li>Get a copy of the recruits photo ID.</li>
        <li>Once legal documents are signed scan/email them to apps@nooklyn.com (Subject line should be (Recruit Name - New Paperwork)</li>
        <li>Submit original signed copies in folder to the Office Administrator.</li>
      </ul>
      <li>Access Set Up (Office Administrator does this step)</li>
      <ul>
        <li>Associate your recruit on E-Access.</li>
        <li>Give access to matrix permissions.</li>
        <li>Create a @nooklyn.com email.</li>
        <li>Add your recruit to Groupme (profile pics) </li>
        <li>Your recruit can submit request business cards from the Office Manager (after 3 deals)</li>
      <ul>
    </ol>

    <h3>Comission for new recruits</h3>
    <ul>
      <li>Newly licensed or inexperienced recruits start at 35%</li>
      <li>After your first 5 deals, you move automatically to 40%.</li>
      <li>5% of their first 5 deals go to training manager.</li>
      <li>Experienced recruits start at 40% to 50%.
      <li>5% of their first 3 deals go training manager.</li>
      <li>Final commission decisions must get approved by Joseph or Harley.</li>
    </ul>

    <h3>Post hire training process</h3>
    <ol>
      <li>Watch training videos on Matrix</li>
      <li>Show recruits how to navigate Matrix and website.</li>
      <li>Have recruit read the <strong>New Agents Guide</strong></li>
      <li>Show recruits how to upload a profile photo on Nooklyn and GroupMe</li>
      <li>Tell your recruits to update voicemail, Facebook, LinkedIn and social accounts to their new awesome position at Nooklyn.</li>
      <li>Walk through a mock deposit-agreement &amp; rental application with your recruit.</li>
      <li>Have the recruit scan/email you the mock documents - provide assistance as needed.</li>
      <li>Teach your recruits how &amp; where to post advertising.</li>
      <li>Give all knowledge of lead generation. (mention lead section/ direct messaging)</li>
      <li>Take your recruit on two showings.</li>
      <li>Go on two of your recruits showings. (Provide guidance).</li>
      <li>Sit and assist your recruit with his/her first two deposits and first two lease signings.</li>
      <li>Before the end of recruits 60 day trial period give your new recruit a performance review and complete the form then submit your review to Harley &amp; Joseph.</li>
    </ol>

    <h3>Do’s</h3>
    <ul>
      <li>Be available to answer your recruits questions</li>
      <li>Conflict resolution (away from clients / co-workers)</li>
      <li>Correct new agents mistakes respectfully</li>
      <li>Meet with your recruits once per week</li>
      <li>Ask them questions and give advice</li>
      <li>Motivate and encourage recruits to advertise and close deals</li>
      <li>Make sure your recruit is keeping listings &amp; photos up to date.</li>
      <li>If your new recruit is abusing GroupMe or other policies, talk to them about it.</li>
    </ul>

    <h3>Dont's</h3>
    <ul>
      <li>Don’t act out of your roles and responsibilities as a training manager.</li>
      <li>All issues arising with new or existing agents must be emailed to Joseph &amp; Harley and not spoken about in front of clients / co-workers.</li>
      <li>You may not discuss or voice your opinion on any agents progress, behaviors, or performance with anyone other than Joseph &amp; Harley.</li>
      <li>All complaints about new agents should be submitted by email.</li>
      <li>Treat recruits disrespectfully.</li>
      <li>Revoke privileges, or commission without approval from Joseph or Harley.</li>
      <li>Don’t threaten or terminate agents without approval from Joseph or Harley.</li>
    </ul>

    <h3>Termination</h3>
    <ol>
      <li>Termination must be approved by both Joseph &amp; Harley.</li>
      <li>You must terminate agents in person when possible.</li>
      <li>If a recruit has been MIA for 2–3 weeks, ask the Office Administrator to take away their Matrix access.</li>
      <li>If any recruit has less than five deals after the 60 day trial period he/she will be terminated. You will need to call recruit into the office to meet with Harley &amp; Joseph for a review.</li>
    </ol>

    <h3>Training Payments</h3>
    <ol>
      <li>Trainers can only have 5 recruits at a time.</li>
      <li>Trainers will receive 5% for inexperienced recruits first five deals for training them.</li>
      <li>Trainers will receive 5% for experienced recruits first three deals for training them.</li>
    </ol>

    <h3>Recruiting Bonus</h3>
    <ul>
      <li>$500 company wide bonus for recruiting any agents that close 5 deals within 60 days.</li>
      <li>$1000 company wide bonus for recruiting agents that close 10 deals within 60 days.</li>
    </ul>
  </div>
</div>