<% content_for :title, "Roommate Match Up - Nooklyn Training" %>

<div class="super_container">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <br>
        <div class="list-group">
          <a href="https://nooklyn.com/matrix/index" class="list-group-item">
            <h4 class="list-group-item-heading">Matrix</h4>
          </a>
          <a href="https://nooklyn.com/matrix/videos" class="list-group-item">
            <h4 class="list-group-item-heading">Videos</h4>
          </a>
          <a href="https://nooklyn.com/matrix/guide/roommates_match_ups" class="list-group-item">
            <h4 class="list-group-item-heading">Roommate Matchups</h4>
          </a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="narrow-page-container privacy-policy-page">
            <h2>How to successfully manage a roommate match up</h2>
            <h3>1) Find the right listing for your efforts</h3>
            <p>Pick the good deals, the 100% ops, and the buildings with several available units. If you take an apartment off the market with only one roommate, you basically have two days to lock down the other roommates, so it better be so good that roommates will pour in quickly and a two day roommate match up is actually possible. If there are other similar or identical units in the building, you can potentially hold an apartment off the market for a bit longer. Also, once you finish one unit, you can push all your other leads into the rest of the building. </p>
            <h3>2) Treat every roommate like a real client because they are.</h3>
            <p>This is a guaranteed lead generator that can keep you busy all month if you manage it properly. By treating everyone like a client, meaning taking a single person out to see several apartments, you are behaving unlike any agent they have encountered. In turn, they will build you up tremendously whether they take something from you or not. </p>
            <p>Usually I start a roommate match up with a solid client that can ideally get approved on a whole apartment by themselves, is not picky, a little desperate, and can present themselves as easy/fun to live with. Find them the apartment and have them put a deposit down.</p>
            <p>Be warned; I have had two months of leads from one craigslist ad. Granted I made a lot of money those months but it can get overwhelming as your phone will explode with calls and messages so staying organized becomes even more paramount to your job</p>
            <h3>3) Build confidence and encourage realistic perspectives in your clients without making promises you can't keep </h3>
            <p>Avoid saying things like, "guaranty" and instead say, "the more we work together, the more likely it is that this will happen fast". Tell stories of successful roommate match ups that you or your co workers have done. Explain the scenarios in which it wouldn't work out as well but without being discouraging. This keeps your client grounded but hopeful. </p>
            <h3>4) Aggressively encourage your roommate clients to post their own ads and to be actively using social media to find roommates on their own. </h3>
            <p>Most of the time they will find their own roommates and the likelihood of them doing so increases dramatically based on YOU. The pointers and advice you give them as to what platforms to advertise, how to pitch themselves and the apartment, and the confidence you give them in the process will fire them up to succeed.</p>
            <h3>5) Ask them to put your phone number on their ads because your client is not a sales person. </h3>
            <p>You know how to sell, you know how to close, and you know more about the process than your client. You will also to be able to qualify them better and potentially turn those calls into leads for other apartments.</p>
            <p>Explain that you will qualify the leads, show them the apartment, and introduce them to any potentials who are interested in the unit. Only introduce your clients to each other after they have confirmed their desire to put a deposit down on a room. Do not take the deposit until your original client has confirmed their desire to live with said person.</p>
            <h3>6) Post your own ads vaguely enough that potential leads assume it is you that are looking for roommates without being misleading</h3>
            <p>Most people want to avoid agents if possible. Especially "loosies". So in your ad dont mention your position. Once you have someone on the phone it's much easier to explain to them what's going on without scaring them away. </p>
            <h3>7) When taking calls be very clear as to the situation and sell yourself, the process, and your company.</h3>
            <p>The first question should always be, "Can you tell me a little about yourself?" Address any red flags and then move on to tell them who you are and how the process works. Explain in detail what your position is and why your client is working with you. </p>
            <h3>8) Show every qualified person the room and stay in touch with them. </h3>
            <p>Some people will end up NOT being interested in the specific room or roommate they called you about initially. But, a majority of the time they are very interested in the roommate match up service that you provide. This is why a roommate match up is one of the best lead generators ever. They may know people already that are looking for rooms as well and a roommate lead can become a full three bed lead instantly. You will be shocked how often this happens.</p>
            <h3>9) Closing and communication</h3>
            <p>The trickiest part of this is making sure your roommate clients stay committed to the rooms after their deposit. Daily updates for your clients, and the listing agents are mandatory. Without doing this roommates will vanish, apartments will get rented from under you, and you can spoil relationships with your coworkers, landlords and clients. Guarantors can blow everything up too. If possible, talk to guarantors yourself so you can set their mind at ease about cosigning for strangers. Be clear about this fact before you take a deposit. If possible, explain the process to the guarantors yourself as your client does not have the knowledge nor ability to do this effectively themselves. </p>
            <hr>
            <p>By following these steps you will never have a slow period again, your reputation will be strong and your referrals will pour in.</p>
        </div>
      </div>
    </div>
  </div>
</div>
