/*****************************************************************************/
/*
/* Job Applications Page
/*
/*****************************************************************************/

div.nklyn-jobs-jumbotron {
  /* Positioning */
  /* Box-model */
  padding-top: 250px;
  height: 888px;
  /* Typography */
  text-align: center;
  /* Visual */
  background-color: #333;
  background-image: url('//nooklyn-files.s3.amazonaws.com/img/jobs/job-jumbotron.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  /* Misc */
  @media screen and (max-width: 540px) {
    height: 520px;
    padding-top: 110px;
  }
  h1 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    /* Typography */
    font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 104px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
    @media screen and (max-width: 540px) {
      font-size: 60px;
    }
  }
  i {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 90px;
    line-height: 1;
    /* Visual */
    /* Misc */
  }
  h2 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
    @media screen and (max-width: 540px) {
      font-size: 20px;
    }
  }
}

div.nklyn-office-card {
  /* Positioning */
  position: relative;
  display: inline-block;
  /* Box-model */
  margin-bottom: 15px;
  margin-left: 15px;
  max-width: 424px;
  /* Typography */
  text-align: center;
  /* Visual */
  color: #fff;
  /* Misc */
  clear: both;
  @media screen and (max-width: 541px) {
    margin-left: 0;
    margin-bottom: 0;
  }
  img {
    min-width: 320px;
    min-height: 320px;
  }
  h3 {
    /* Positioning */
    /* Box-model */
    margin-bottom: 0;
    padding-bottom: 0;
    /* Typography */
    font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
  }
  h4 {
    /* Positioning */
    /* Box-model */
    max-width: 100px;
    margin: 0 auto;
    padding-top: 0;
    /* Typography */
    /* Visual */
    border-bottom: 2px solid #eee;
    /* Misc */
  }
  p {
    /* Positioning */
    /* Box-model */
    padding-top: 15px;
    /* Typography */
    font-family: 'kepler-std', Georgia, serif;
    font-size: 18px;
    font-weight: 700;
    /* Visual */
    /* Misc */
  }
  .hood-overlay {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;
    padding: 25% 15% 40% 15%;
    /* Box-model */
    width: 100%;
    height: 100%;
    /* Typography */
    /* Visual */
    background-color: rgba(17,17,17,.3);
    color: #fff;
    /* Misc */
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    &:hover {
      /* Positioning */
      /* Box-model */
      /* Typography */
      /* Visual */
      background-color: rgba(255,212,84,.6);
      /* Misc */
    }
  }
}

div.jobs-page {
  /* Positioning */
  /* Box-model */
  padding-top: 25px;
  /* Typography */
  /* Visual */
  /* Misc */
  p {
    padding-left: 15px;
    padding-right: 15px;
  }
}

div.job-application-page {
  /* Positioning */
  /* Box-model */
  padding: 25px;
  /* Typography */
  /* Visual */
  /* Misc */
}

div.jobs-app-section {
  /* Positioning */
  /* Box-model */
  padding-bottom: 20px;
  /* Typography */
  /* Visual */
  background-color: #111;
  /* Misc */
  img {
    /* Positioning */
    /* Box-model */
    max-width: 300px;
    /* Typography */
    /* Visual */
    /* Misc */
  }
}
