/*****************************************************************************/
/*
/* Dashboard Page
/*
/*****************************************************************************/

div.admin-dashboard-page {
  /* Positioning */
  /* Box-model */
  margin-bottom: 25px;
  padding: 25px;
  /* Typography */
  /* Visual */
  /* Misc */
  h2 {
    /* Positioning */
    /* Box-model */
    padding-top: 20px;
    padding-bottom: 20px;
    /* Typography */
    font-size: 18px;
    /* Visual */
    /* Misc */
  }
}