{% extends "registration/registration_base.html" %}

{% block title %}Confirm password reset{% endblock %}

{% block content %}

{{ block.super }}

<div class="registration-forgot-form">
    <h2>Password reset</h2>
    <br>
    <p>Enter your new password below to reset your password:</p>
    <br>
    <form method="post" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr><td></td><td><input id="forgot-button" type="submit" value="Set password" /></td></tr>
        </table>
    </form>
</div>

{% endblock %}
