How's it going {{ user }}?

You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on {{ domain }}.  If you do not
wish to reset your password, go ahead and ignore this email and you're
good to go. And don’t worry, your security has not been compromised.

If you do wish to reset your password, please click the following link,
or copy and paste it into your web browser:

{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uid token %}

Enjoy the search for good food, The Taste Savant Team

We now have an iPhone app! To check out restaurants nearby, reservations, reviews and menus on the go download it here:

https://itunes.apple.com/us/app/taste-savant/id828925581?mt=8
