<% content_for :title, "Edit Room Category - Nooklyn - Rentals, Sales, Lofts in Bushwick and Williamsburg, Brooklyn, NY" %>
<div class="super_container">
  <div class="container">
    <h1 class="text-center">Editing Room Category</h1>
    <br>
    <div class="small_form_container">
      <%= render 'form' %>
    </div>
  </div>
  <br>
</div>
