<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room_category.name %>
</p>

<%= link_to 'Edit', edit_room_category_path(@room_category) %> |
<%= link_to 'Back', room_categories_path %>
