<div class="modal fade" id="rmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Rooms & Mates Guidelines</h4>
      </div>
      <div class="modal-body">
        <h3>Do</h3>
        <ul>
          <li>Describe the room, apartment and building.</li>
          <li>Describe yourself.</li>
        </ul>
        <h3>Don't</h3>
        <ul>
          <li>Discriminate based on:</li>
          <ol>
            <li>Race or Color</li>
            <li>National Origin</li>
            <li>Religion</li>
            <li>Sex</li>
            <li>Familial Status</li>
            <li>Handicap / Disability</li>
          </ol>
        </ul>
        <h3>Useful Resources</h3>
        <ul>
          <li>U.S. Department of Housing and Urban Development ("HUD") <a href="http://www.hud.gov/offices/fheo/disabilities/sect804achtenberg.pdf">marketing suggestions.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>