<% content_for :title, "The Matrix - Nooklyn - Rentals, Sales, Lofts" %>
<div class="mega-container">
  <%= render 'matrix_navigation' %>
  <div class="text-center">
    <%= paginate @listings, :window => 10, :right => 1 %><br>
  </div>
  <%= render 'matrix_filters' %>
  <div class="matrix_page">
    <br>
    <div class="responsive-table">
      <table class="table table-bordered table-condensed listings matrix-table">
        <thead>
          <tr>
            <th class="text-center" width="8%">Apartment</th>
            <th class="text-center" width="26%">Listing</th>
            <th class="text-center" width="18%">Details</th>
            <th class="text-center" width="10%">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% cache(cache_key_for_matrix) do %>
            <%= render partial: 'matrix_listings', collection: @listings, as: :listing %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
