<% content_for :title, "A Deposit - Nooklyn: Apartments, Roommates, Neighborhoods" %>
<div class="super_container">
  <div class="container">
    <%= render 'matrix/listings/matrix_navigation' %>
    <div class="standard-page-header">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/2x/Registration.png', class: "img-responsive" %>
      <h1>Edit Deposit</h1>
    </div>
    <div class="narrow-form-container">
    <%= render 'form' %>
    </div>
  </div>
  <br>
</div>
<script type="text/javascript">
  $('.narrow-form-container').on("keyup keypress", function(e) {
  var code = e.keyCode || e.which;
  if (code  == 13) {
    e.preventDefault();
    return false;
  }
  });
</script>
