<h1 class="page-header">
  Gym Schedules
  <span class="pull-right">
    <a href="/cms/gym_schedules/new" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
      Add Gym Schedule
    </a>
  </span>
</h1>
<%= render 'layouts/cms/flashes' %>
<%= render 'form' %>
