<div class="super_container">
<% content_for :title, "Admin Dashboard - Powered by Nooklyn" %>
<div class="nklyn-jumbotron">
  <div class="container">
    <h5>Super Admin</h5>
    <h1>Dashboard</h1>
  </div>
</div>
<%= render 'admin/shared/admin_navigation' %>
  <div class="narrow-page-container admin-dashboard-page">
    <%= image_tag "https://nooklyn-files.s3.amazonaws.com/illustrations/2x/PoweredByNooklyn.png", class: "img-responsive center-block" %>
  </div>
  <br>
</div>
