<% content_for :title, "New Office - Nooklyn - Rental, Sales, Lofts" %>
<div class="super_container">
  <div class="container">
    <div class="standard-page-header">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/2x/PoweredByNooklyn.png', class: "img-responsive" %>
      <h1>New Office</h1>
    </div>
    <div class="narrow-form-container">
    <%= render 'form' %>
    </div>
  </div>
  <br>
</div>
