<div class="super_container">
  <br>
  <div class="container">
    <h1 class="text-center">Add a Room</h1>
    <div class="small_form_container">
      <%= render 'form' %>
    </div>
  </div>
  <br>
</div>
