<div class="nooklyn_listings_filters_area">
  <div class="row">
    <div class="col-sm-3">
      <div class="btn-group" id="zoning-types" data-toggle="buttons-radio">
        <button type="button" data-filter-type="residential" class="btn btn-warning filter" id="residential-button" value="true" data-toggle="tab">Residential</button><br>
        <button type="button" data-filter-type="residential" class="btn btn-warning filter" id="commercial-button" value="false" data-toggle="tab">Commercial</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="nklyn-icon-money-bills nklyn-1x"></i></span>
        <input type="text" class="form-control square-listing-filter price" placeholder="Min Price" id="minimum-price">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="nklyn-icon-money-bills nklyn-1x"></i></span>
        <input type="text" class="form-control square-listing-filter price" placeholder="Max Price" id="maximum-price">
      </div>
    </div>
    <div class="col-sm-4">
      <i class="nklyn-icon-amenity-bed nklyn-2x"></i><br>
      <div class="btn-group" data-toggle="buttons-radio" id="bedroom-filter-bar">
        <button type="button" data-filter-type="bedrooms" class="button btn-2x btn-warning filter" value="0.0" data-toggle="tab">0</button>
        <button type="button" data-filter-type="bedrooms" class="button btn-2x btn-warning filter" value="1.0" data-toggle="tab">1</button>
        <button type="button" data-filter-type="bedrooms" class="button btn-2x btn-warning filter" value="2.0" data-toggle="tab">2</button>
        <button type="button" data-filter-type="bedrooms" class="button btn-2x btn-warning filter" value="3.0" data-toggle="tab">3</button>
        <button type="button" data-filter-type="bedrooms" class="button btn-2x btn-warning filter" value="4.0" data-toggle="tab">4</button>
        <button type="button" data-filter-type="bedrooms" class="button btn-2x btn-warning filter" value="5.0" data-toggle="tab">5+</button>
      </div>
    </div>
  </div>
  <hr>
</div>
