<% content_for :title, "Create a New Listing - Nooklyn - Rentals, Sales, Lofts" %>
<div class="super_container">
	<br><h2 class="text-center">Create a Listing</h2><br>
	<div class="container listing_form_container">
		<%= render 'form' %>
	<br>
	</div>
</div>