<% content_for :title, "#{@neighborhood.name} Roommate Finder - Powered by Nooklyn" %>
<% content_for :description, "Browse roommates in #{@neighborhood.name} or create a profile and let roommates find you." %>
<%= render 'neighborhoods/header' %>
<div class="super_container">
  <div class="rm_container">
  <%= render 'mate_posts/mate_header' %>
  <%= render 'mate_posts/mate_post_filters' %>
  <%= render partial: "mate_posts/mate_post", collection: @mate_posts %>
  </div>
  <br>
</div>
