<h1 class="page-header">
  Background Images
  <span class="pull-right">
    <a href="/cms/background_images/new" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
      Add Background Image
    </a>
  </span>
</h1>
<%= render 'layouts/cms/flashes' %>
<%= render 'form' %>
