<% content_for :title, "Edit a Location - Nooklyn - Rentals, Sales, Lofts" %>
<div class="super_container">
  <div class="container">
    <h1 class="text-center">Edit Location</h1>
    <div class="narrow-form-container">
    <%= render 'form' %>
    </div>
  </div>
</div>


  <script type="text/javascript">
    $('.narrow-form-container').on("keyup keypress", function(e) {
    var code = e.keyCode || e.which;
    if (code  == 13) {
      e.preventDefault();
      return false;
    }
    });
  </script>