<% content_for :title, "New Location - Powered by Nooklyn" %>

<div class="super_container">
  <div class="container">
    <h1 class="text-center">New Location</h1>
    <div class="narrow-form-container">
    <%= render 'form' %>
    </div>
  </div>
  <br>
</div>
  <script type="text/javascript">
    $('.narrow-form-container').on("keyup keypress", function(e) {
    var code = e.keyCode || e.which;
    if (code  == 13) {
      e.preventDefault();
      return false;
    }
    });
  </script>