<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Keeper</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.baronfig.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>568858e2c1012d2b31d3148f4666535f416c5068</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>BrandonGrotesque-Black.otf</string>
		<string>BrandonGrotesque-BlackItalic.otf</string>
		<string>BrandonGrotesque-Bold.otf</string>
		<string>BrandonGrotesque-BoldItalic.otf</string>
		<string>BrandonGrotesque-Light.otf</string>
		<string>BrandonGrotesque-LightItalic.otf</string>
		<string>BrandonGrotesque-Medium.otf</string>
		<string>BrandonGrotesque-MediumItalic.otf</string>
		<string>BrandonGrotesque-Regular.otf</string>
		<string>BrandonGrotesque-RegularItalic.otf</string>
		<string>BrandonGrotesque-Thin.otf</string>
		<string>BrandonGrotesque-ThinItalic.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Keeper</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
