<% content_for :title, "Contact Us - Nooklyn: Apartments, Roommates, Neighborhoods in Brooklyn" %>
<% content_for :description, "Visit or call our Bushwick, Greenpoint or Crown Height office. You can also send us a message and we'll get back to you." %>

<!-- Page Header -->
<div class="nklyn-jumbotron">
  <div class="container">
    <h5>Contact Us</h5>
    <h1>How can we<br>help you?</h1>
  </div>
</div>

<!-- Map -->
<div id="nooklyn_contact_page_map"></div>

<!-- Information -->
<div class="contact-page">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 office-information">
          <h3>Bushwick</h3>
          <h5>Main Office</h5>
          <p>28 Scott Avenue<br>Suite #106<br></p>
          <p>Brooklyn<br>New York 11237</p>
          <h5>Phone</h5>
          <p>347-318-3595</p>
          <h5>Hours</h5>
          <p>Monday-Friday: 11am - 7pm<br>Weekends: By Appointment</p>
        </div>
        <div class="col-md-4 col-sm-6 office-information">
          <h3>Greenpoint</h3>
          <h5>Branch Office</h5>
          <p>568 Manhattan Avenue<br>Store B<br></p>
          <p>Brooklyn<br>New York 11222</p>
          <h5>Phone</h5>
          <p>718-383-0237</p>
          <h5>Hours</h5>
          <p>Monday-Friday: 11am - 7pm<br>Weekends: By Appointment</p>
        </div>
        <div class="col-md-4 col-sm-6 office-information">
          <h3>Crown Heights</h3>
          <h5>Branch Office</h5>
          <p>765 Franklin Avenue<br><br></p>
          <p>Brooklyn<br>New York 11238</p>
          <h5>Phone</h5>
          <p>347-787-8580</p>
          <h5>Hours</h5>
          <p>Monday-Friday: 11am - 7pm<br>Weekends: By Appointment</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row contact_page_content">
        <div class="col-xs-12 lead_contact_form">
          <hr>
          <div class="text-center">
            <i class="nklyn-icon-message nklyn-5x" id="message"></i>
            <h2 class="text-center">Contact</h2>
            <p class="text-center">We'll get back to you soon</p>
          </div>
          <br>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
