<div class="mega-container">
  <div class="nklyn-jumbotron">
    <div class="container">
      <h5>Manage Photos</h5>
      <h1>Editing Photo</h1>
    </div>
  </div>
  <div class="container narrow-form-container">
    <br>
    <%= render 'form' %>
  </div>
</div>
