<% content_for :title, "New Check Request - Powered by Nooklyn" %>
<div class="standard-page-header">
  <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/PoweredByNooklyn.png', class: "img-responsive" %>
  <h1>New Check Request</h1>
</div>
<div class="container narrow-form-container">
  <%= render 'form' %>
</div>
