*~
*.pyc
*#
*#*
.project
.pydevproject
.ropeproject
*.db
*.log
*.svn
.DS_Store
*.db
settings/local.py
/media/user/*
/media/admin
media/avatars
media/images/press_logos
sphinx.conf
src/
build/
media/cache
media/CACHE/
.htaccess
.htpasswd
comps/
/media/images/critic_logos/
*.swp
*.swo
.Python
bin/
include/
lib/
*.sql
chromedriver.log
media/restaurants
etc/conf/
.env
static_root/
*.sublime-*
