<div class="mates_account_message text-center">
  <p>You currently haven't added your room or listed yourself in our Rooms & Mates section</p>
  <br>
  <%= link_to new_room_post_path do %>
  <button class="button btn-black btn-2x">Add Your Room</button>
  <% end %>
  <br class="visible-xs">
  <%= link_to new_mate_post_path do %>
  <button class="button btn-black btn-2x">List Yourself</button>
  <% end %>
</div>
