  <% if @agent.liked_listings.empty? %>
    <div class="text-center">
      <br>
      <i class="nklyn-icon-face-sad nklyn-4x"></i>
      <h2 class="text-center">No Favorites Yet</h2>
      <h4 class="text-center"><a href="/">Find your next home</a></h4>
      <br>
    </div>
  <% end %>
