<% content_for :title, "My Listings Collections - Nooklyn" %>

<div class="super_container">
  <div class="standard-page-header">
    <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/PoweredByNooklyn.png', class: "img-responsive" %>
    <h1>Collections</h1>
  </div>
    <div class="container-fluid">
      <%= render 'agents/listings_collections' %>
    </div>
  <br>
</div>
