<div class="user-growth-numbers-card">
  <%= image_tag "https://nooklyn-files.s3.amazonaws.com/illustrations/MobileApp.png", class: "img-responsive center-block" %>
  <h2 href="#app" name="app" class="fake-link">iOS App</h2>
  <h6>lifetime</h6>
  <hr>
  <div class="row stat-row">
    <div class="col-sm-4">
      <h3>Installs</h3>
      <h5>5,490</h5>
    </div>
    <div class="col-sm-4">
      <h3>Sessions</h3>
      <h5>29,129</h5>
    </div>
    <div class="col-sm-4">
      <h3>Screen Views</h3>
      <h5>593,268</h5>
    </div>
  </div>
  <hr>
<%= link_to "https://itunes.apple.com/us/app/nooklyn-rentals/id1024150110?ls=1&mt=8", target: "_blank" do %>
  <%= image_tag 'download-tunes.svg', class: "img-responsive center-block" %>
<% end %>
</div>
